#!/bin/bash
#
# Example config for development.
#

# Base URL for the API endpoint
export ROOT_URL="http://localhost:80"

# Key used for signing
export KEY="5KYHF7RBrfXpT6PETi62FhcJsV7UsJZXv4wmbG1rPzaR8M1mB1A"
# PubKey : 03db8bc08d0d1629e40a8fe8a22cb6450e3b341e0d3dac93f09189f4c347709553
# Addr : 1GpBrMKcL1iLzxvGrs5Eyx5ndBhWMffa4t

export DB_DRIVER=postgres
export DB_URL='user=oracle password=oracle dbname=identity-oracle sslmode=disable'

# Master storage driver
export STORAGE_REGION=ap-southeast-2
export STORAGE_ACCESS_KEY=key
export STORAGE_SECRET=secret
export STORAGE_BUCKET=standalone
export STORAGE_ROOT=./tmp

# the full node to connect to.
export NODE_ADDRESS=127.0.0.1:8333
export NODE_USER_AGENT="/TokenizedOracle:0.1.0/"
# Block 608000
export START_HASH="0000000000000000005f06185d07f2660f14feb491eafed322bf5758705cdf73"
export BITCOIN_CHAIN=mainnet
export IS_TEST=true

# Node storage driver
export NODE_STORAGE_REGION=ap-southeast-2
export NODE_STORAGE_ACCESS_KEY=key
export NODE_STORAGE_SECRET=secret
export NODE_STORAGE_BUCKET=standalone
export NODE_STORAGE_ROOT=./tmp
